<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IModuloIa" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wvm035.dei.isep.ipp.pt/IA/moduloIA.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModuloIa"
                contract="ModuloIA.IModuloIa" name="BasicHttpBinding_IModuloIa" />
        </client>
    </system.serviceModel>
</configuration>