<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>

    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off">
      
    </customErrors>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IModuloIa" />
      </basicHttpBinding>
    
    </bindings>
    <client>
      <endpoint address="http://wvm035.dei.isep.ipp.pt/IA/moduloIA.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModuloIa"
        contract="ModuloIAProlog.IModuloIa" name="BasicHttpBinding_IModuloIa" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <appSettings>
  <add key="pt.ipp.isep.dei.wvm035.moduloIA" value="http://wvm035.dei.isep.ipp.pt/IA/moduloIA.svc"/>
  </appSettings>
</configuration>